#.venv folder
.venv
# all pycache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Contents of dataset folder
dataset/movies_review_test_aai.csv
dataset/movies_review_train_aai.csv

# ignore pycache folder recursively
**/__pycache__/*

# ignore all pytest cache
.pytest_cache/*