#.venv folder
.venv
# all pycache
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Contents of dataset folder
dataset/**/*

# ignore pycache folder recursively
**/__pycache__/*

# ignore all pytest cache
.pytest_cache/*